<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>发布列表</title>
    <link rel="icon" type="image/png"
          href="{{ url_for('static',filename='images/02.ico',_external=True) }}"
          sizes="48x48">
    <link rel="stylesheet"
          href="{{ url_for('static',filename='plugins/bootstrap/css/bootstrap.min.css',_external=True) }}">
    <link rel="stylesheet"
          href="{{ url_for('static',filename='plugins/font-awesome/css/font-awesome.min.css',_external=True) }}">
    <script rel="stylesheet" src="{{ url_for('static',filename='plugins/jQuery/jquery-3.6.0.min.js') }}"></script>
    <script rel="stylesheet" src="{{ url_for('static',filename='plugins/bootstrap/js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/admin.css',_external=True) }}">
    <link rel="stylesheet" href="{{ url_for("static",filename="css/user.css") }}">
    <style>
        .full-screen:hover {
            cursor: pointer;
        }

        .full-screen {
            margin-left: 10px;
            color: #2b669a;
        }

        .table tr a {
            text-decoration: none;
        }

        .table tr td a:hover {
            text-decoration: none;
            cursor: pointer;
            color: red;
        }

        .operation {
            text-align: center;
        }

        .operation a {
            display: flex;
            justify-content: center;
        }

        .page-div {
            display: flex;
            justify-content: center;
            flex-direction: row;
            align-items: center;
        }
    </style>
    <style>
        .operation .btn:hover {
            color: white;
            cursor: pointer;
        }

        .division {
            margin-top: 3px;
            margin-bottom: 0;
            border-top: 0;
            width: 100%;
        }

        #reason {
            resize: none;
            width: 100%;
            height: auto;
            min-height: 150px;
            border: 1px solid #8c8c8c;
            box-shadow: inset 0 1px 1px #d4d4d4;
            border-radius: 5px;
            outline: none;
        }

        #reason:focus {
            border: 1px solid #2b669a;
            resize: vertical;
            box-shadow: 0 0 1px 0 #2aabd2;
        }

        .check-list a {
            margin-right: 8px;
            font-size: 14px;
        }
    </style>
</head>
<body>
{#消息提示框#}
<div class="hidden post-success text-center">
    <p><i class="fa fa-check-circle-o" aria-hidden="true"></i>成功</p>
</div>
<div class="message-tips hidden">
    <div class="font-40-red text-center"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></div>
    <div class="text-center"><span id="msg"></span></div>
</div>
<div class="panel panel-info">
    <div class="panel-heading">
        <p>我的新闻<span class="full-screen" data-type="open"><i class="fa fa-arrows-alt" aria-hidden="true"></i></span></p>
    </div>
    <!-- List group -->
    <div class="panel panel-default" style="margin-bottom: 10px;">
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="fa fa-search" aria-hidden="true" style="margin-right: 5px;"></i>筛选选项
            </h3>
        </div>
        <div class="panel-body filter-area">
            {% for row in data.filter %}
                <div class="col-md-4">
                    <div class="text-center">
                        <div class="title">{{ row.title }}</div>
                        <div class="check-list">
                            {% for item in row.check_filter %}
                                {{ item }}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-striped">
            <tr>
                <th>标题</th>
                <th>分类</th>
                <th>来源</th>
                <th>发布时间</th>
                <th>评论数</th>
                <th>点击数</th>
                <th>审核状态</th>
                <th>操作</th>
            </tr>
            {% for obj in data.all_list %}
                <tr>
                    <td><a class="">{{ obj.title }}</a></td>
                    <td><a class="">{{ obj.category.name }}</a></td>
                    <td><a class="">{{ obj.source }}</a></td>
                    <td><a class="">{{ obj.create_time }}</a></td>
                    <td><a class="">{{ obj.comments_count }}</a></td>
                    <td><a class="">{{ obj.clicks }}</a></td>
                    <td><a class="">{% if obj.status==0 %}审核中{% elif obj.status==1 %}通过{% else %}未通过{% endif %}</a></td>
                    <td class="operation" data-id="{{ obj.id }}">
                        {% if obj.status==1 %}
                            <a class="btn btn-info btn-sm" href="{{ url_for("detail.detail",nid=obj.id) }}"
                               target="_blank">查看</a>
                            <hr class="division">
                        {% endif %}
                        <a class="btn btn-success btn-sm" href="{{ url_for("user.news_rewrite",news_id=obj.id) }}"
                           target="_blank">编辑</a>
                        <hr class="division">
                        <a class="btn btn-danger btn-sm clearfix" data-toggle="modal" data-target="#deleteModal">
                            删除
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
<!--分页展示-->
<div style="margin: 0 auto;">
    <div class="page-div">
        <nav aria-label="Page navigation" style="margin-top: 10px;margin-bottom: 20px;">
            <ul class="pagination">
                {% if data.page_html %}
                    {{ data.page_html|safe }}
                {% endif %}
            </ul>
        </nav>
    </div>
</div>

<!--删除确认警告框-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="alert alert-danger alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h4>注意!</h4>
            <p>你正在进行数据的删除操作。请确认是否删除</p>
            <p style="text-align: right;">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button id="deleteBtn" type="button" class="btn btn-danger" data-type="delete">确定</button>
            </p>
        </div>
    </div>
</div>
</body>
<script>
    $(function () {
        largeIframeWindow();
        initDeleteModel();
        bindClickCheckFilter2();
        deleteClick();
    });

    //删除按钮
    function deleteClick() {
        $("#deleteBtn").on("click", function () {
            let deal_type = $(this).attr("data-type");
            let nid = $(".operation").attr("data-id");
            let ajaxParams = {};
            let ajaxUrl = "{{ url_for("user.news_issues") }}";
            if (!deal_type || !nid) {
                showErrorDiv("参数为空");
                return false
            }
            ajaxParams = {"nid": nid, "deal_type": deal_type};
            myPostAjax(ajaxUrl, ajaxParams);
        })
    }

    //筛选按钮点击事件
    function bindClickCheckFilter2() {
        $('.filter-area').find(':checkbox').click(function () {
            location.href = $(this).parent().attr('href');
        });
    }

    //封装的Ajax请求
    function myPostAjax(targetUrl, params) {
        $.ajax({
            url: targetUrl,
            type: "POST",
            headers: {'X-CSRFToken': "{{ csrf_token() }}"},
            data: params,
            dataType: "JSON",
            success: function (res) {
                if (res.status) {
                    successFunction();
                } else {
                    showErrorDiv(res.error);
                }
            }
        })
    }

    //显示删除确认警告框后的回调函数
    function initDeleteModel() {
        $('#deleteModal').on('show.bs.modal', function (event) {
            let button = $(event.relatedTarget);
            let dataId = button.parent().attr('data-id');
            $('#deleteBtn').attr('data-id', dataId);
            //console.log(button, dataId)
        });
    }

    function successFunction() {
        showSuccess();
        let aTimeOut = setTimeout(function () {
            location.reload();
            clearTimeout(aTimeOut);
        }, 2000)
    }

    //显示成功提示框
    function showSuccess() {
        let $msgDiv = $(".post-success");
        $msgDiv.removeClass("hidden");
        $msgDiv.width();
        divJustifyCenter($msgDiv, $msgDiv.width());
        let aTimeOut = setTimeout(function () {
            $msgDiv.addClass("hidden");
            $msgDiv.css("left", "");
            clearTimeout(aTimeOut);
        }, 1500)
    }

    //显示错误提示框
    function showErrorDiv(error) {
        let $msgDiv = $(".message-tips");
        $msgDiv.removeClass("hidden");
        $("#msg").text(error);
        $msgDiv.width();
        divJustifyCenter($msgDiv, $msgDiv.width());
        let aTimeOut = setTimeout(function () {
            $("#msg").empty();
            $msgDiv.addClass("hidden");
            $msgDiv.css("left", "");
            clearTimeout(aTimeOut);
        }, 1500)
    }

    //消息提示框居中
    function divJustifyCenter($div, divWidth) {
        let pageWidth = $(window).width();
        let toLeft = (pageWidth - divWidth) / 2;
        $div.css("left", toLeft);
        //console.log(pageWidth,divWidth,toLeft);
    }


    //调整左边栏头像位置
    function adjustAvatar(parentWindow) {
        let $item = parentWindow.find(".user-menu");
        let $picDiv = parentWindow.find(".user-pic");
        let distance = $item.offset();
        let divWidth = $item.width();
        let toLeft = distance.left;
        let picDivWidth = $picDiv.width();
        let allLeftDistance = (divWidth - picDivWidth) / 2 + toLeft;
        $picDiv.css("left", allLeftDistance);
        //console.log(allLeftDistance);
    }

    //放大iframe窗口
    function largeIframeWindow() {
        let $item = $(".full-screen");
        let parentWindow = $(window.parent.document);
        $item.on("click", function () {
            let dealType = $item.attr("data-type");
            if (dealType === "close") {
                $item.attr("data-type", "open");
                parentWindow.find(".user-menu").removeClass("hidden");
                parentWindow.find(".iframe-window").addClass(
                    "col-xs-8 col-sm-8 col-md-9 col-lg-9"
                ).removeClass("col-xs-12 col-sm-12 col-md-12 col-lg-12");
                adjustAvatar(parentWindow)
            }
            if (dealType === "open") {
                $item.attr("data-type", "close");
                parentWindow.find(".user-menu").addClass("hidden");
                parentWindow.find(".iframe-window").addClass(
                    "col-xs-12 col-sm-12 col-md-12 col-lg-12"
                ).removeClass("col-xs-8 col-sm-8 col-md-9 col-lg-9");
                adjustAvatar(parentWindow);
            }
        });
        $item.hover(function () {
            $item.css("font-size", "24px")
        }, function () {
            $item.css("font-size", "20px")
        })
    }
</script>
</html>