<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新闻收藏</title>
    <link rel="stylesheet" href="{{ url_for("static",filename="plugins/bootstrap/css/bootstrap.css") }}">
    <link rel="stylesheet"
          href="{{ url_for('static',filename='plugins/font-awesome/css/font-awesome.min.css',_external=True) }}">
    <script rel="stylesheet" src="{{ url_for('static',filename='plugins/jQuery/jquery-3.6.0.min.js') }}"></script>
    <script href="{{ url_for("static",filename="plugins/bootstrap/js/bootstrap.js") }}"></script>
    <link rel="stylesheet" href="{{ url_for("static",filename="css/user.css") }}">
    <link rel="stylesheet" href="{{ url_for("static",filename="css/user_collections.css") }}">
    <script>
        $(function () {
            showTime();
            $(window).resize(function () {
                showTime();
            });
            largeIframeWindow();
        });

        //调整左边栏头像位置
        function adjustAvatar(parentWindow) {
            let $item = parentWindow.find(".user-menu");
            let $picDiv = parentWindow.find(".user-pic");
            let distance = $item.offset();
            let divWidth = $item.width();
            let toLeft = distance.left;
            let picDivWidth = $picDiv.width();
            let allLeftDistance = (divWidth - picDivWidth) / 2 + toLeft;
            $picDiv.css("left", allLeftDistance);
            //console.log(allLeftDistance);
        }

        //放大iframe窗口
        function largeIframeWindow() {
            let $item = $(".full-screen");
            let parentWindow = $(window.parent.document);
            $item.on("click", function () {
                let dealType = $item.attr("data-type");
                if (dealType === "close") {
                    $item.attr("data-type", "open");
                    parentWindow.find(".user-menu").removeClass("hidden");
                    parentWindow.find(".iframe-window").addClass(
                        "col-xs-8 col-sm-8 col-md-9 col-lg-9"
                    ).removeClass("col-xs-12 col-sm-12 col-md-12 col-lg-12");
                    adjustAvatar(parentWindow);
                }
                if (dealType === "open") {
                    $item.attr("data-type", "close");
                    parentWindow.find(".user-menu").addClass("hidden");
                    parentWindow.find(".iframe-window").addClass(
                        "col-xs-12 col-sm-12 col-md-12 col-lg-12"
                    ).removeClass("col-xs-8 col-sm-8 col-md-9 col-lg-9");
                    adjustAvatar(parentWindow);
                }
            });
            $item.hover(function () {
                $item.css("font-size", "24px")
            }, function () {$item.css("font-size", "20px")})
        }


        function showTime() {
            $(".news-time-show").each(function (e) {
                let pageWidth = $(window.parent).width();
                let $timeShowDiv = $(this);
                if (parseFloat(pageWidth) < 568) {
                    $timeShowDiv.addClass("hidden");
                } else {
                    $timeShowDiv.removeClass("hidden");
                }
                let timeSpanWidth = $timeShowDiv.innerWidth();
                let titleWidth = $timeShowDiv.prev().innerWidth();
                if (parseFloat($(window).width()) - 30 <= parseFloat(timeSpanWidth) + parseFloat(titleWidth)) {
                    $timeShowDiv.addClass("hidden");
                }
            });
        }
    </script>
</head>
<body>
{#收藏展示#}
<div class="panel panel-info">
    <div class="panel-heading">
        <p>我的收藏<span class="full-screen" data-type="open"><i class="fa fa-arrows-alt" aria-hidden="true"></i></span></p>
    </div>
    <!-- List group -->
    <ul class="list-group">
        {% for obj in data.newsList %}
            <li class="list-group-item">
                <a href="{{ url_for("detail.detail",nid=obj.id) }}" target="_parent">{{ obj.title }}</a>
                <span class="news-time-show"><i class="fa fa-clock-o"
                                                aria-hidden="true"></i>{{ obj.create_time }}</span>
            </li>
        {% endfor %}
    </ul>
    <!--分页展示-->
    <div style="display:flex;justify-content: center;flex-direction: row">
        <nav aria-label="Page navigation" style="margin-top: 10px;margin-bottom: 20px;">
            <ul class="pagination">
                {% if data.page_html %}
                    {{ data.page_html|safe }}
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
</body>
</html>